* {
  box-sizing: border-box !important;
}

/* standard class */

.standard-title{
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 30px;
  color: #60606e;
}

.standard-btn{
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 14px;
  color: #ffffff;
  padding: 20px 40px;
  background-color: #7beec7;
}

.btn.white{
  background-color: #ffffff;
  color: #7beec7;
  border-radius: 0;
}

.text-uppercase{
  text-transform: uppercase; 
}

span.green-bg{
  position: relative;
  z-index: 1;
}

span.green-bg::before{
  position: absolute;
  background-color: #7beec7;
  content: '';
  left: 0;
  right: 0;
  height: 100%;
  z-index: -1;
  top: 50%;
  height: 50%;
}

/* standard class end */

body{
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: #60606e;
}

/* header */

header{
  padding-top: 40px;
  position: fixed;
  left: 0;
  right: 0;
}

header .logo{
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

/* header end */

/* main */

/* section inner */

section#inner{
  background-image:  url("../img/inner-bgc.png"); 
  height: 100vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#inner .inner-top{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: auto;
  margin-bottom: auto;
}

#inner .inner-span-green{
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 18px;
  padding: 10px 15px;
  background-color: #7beec7; 
}

#inner .inner-top h1{
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 48px;
  padding: 35px 25px;
  border: 10px solid;
  border-color: #60606e;
}

#inner .inner-top p{
  margin-top: 30px;
  text-align: center;
  width: 540px;
  line-height: 24px
}

#inner .inner-bottom .container{
  display: flex;
  justify-content: space-between;
}

#inner .inner-bottom .inner-bottom-left img{
  position: absolute;
  bottom: -100px;
}

#inner .inner-bottom .inner-bottom-right{
  width: 50%;
  /* margin-top: 155px; */
} 

#inner .inner-bottom .inner-bottom-right p{
  margin-top: 15px;
  width: 545px;
  line-height: 30px;
}

#inner .inner-bottom .inner-bottom-right-btn{
  margin-top: 38px;
  display: flex;
  justify-content: flex-end;
}

#inner .inner-bottom .inner-bottom-right-btn a{
  position: absolute;
  bottom: -24px;
}

#inner .inner-bottom .inner-bottom-right-btn a:hover{
  color: #7beec7;
  background-color: #60606e;
}

/* section inner end*/

/* section why choose us */

section.why-choose-us{
  display: flex;
  flex-direction: column;
  padding-top: 250px;
}

section.why-choose-us .why-choose-us-top{
  display: flex;
  flex-direction: column;
  align-items: center;
}

section.why-choose-us .why-choose-us-top p{
  width: 66.6667%;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 100px;
}

section.why-choose-us .why-choose-us-bottom{
  display: flex;
}

section.why-choose-us .why-choose-us-bottom .why-choose-us-bottom-left{
  width: 58%;
  display: flex;
  flex-wrap: wrap;
}

section.why-choose-us .why-choose-us-card{
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: start;
  padding-top: 25px;
  padding-bottom: 40px;
}

section.why-choose-us .why-choose-us-card span{
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: #60606e;
  margin-top: 25px;
  margin-bottom: 10px;
}

section.why-choose-us .why-choose-us-card .why-choose-use-information{
  display: flex;
  flex-direction: column;
  align-items: start;
}

section.why-choose-us  .why-choose-us-card .why-choose-use-information a{
  font-size: 14px;
  color: #999999;
  margin-top: 15px;
  margin-bottom: 0;
}

section.why-choose-us .why-choose-us-card .why-choose-use-information a:hover{
  color: #60606e;
  box-shadow: 0px 3px 1px #7beec7;
}

section.why-choose-us .why-choose-us-bottom-right{
  width: 42%;
}

section.why-choose-us .why-choose-us-bottom-right img{
  width: 100%;
}

section.why-choose-us i{
  font-size: 36px;
  color: #60606e;
}

/* section why choose us end */

/* section our portfolio */

section.our-portfolio{
  padding-top: 150px;
  display: flex;
  flex-direction: column;
}

section.our-portfolio .our-portfolio-top{
  display: flex;
  flex-direction: column;
  align-items: center;
}

section.our-portfolio .our-portfolio-top span{
  margin-bottom: 20px;
}

section.our-portfolio .our-portfolio-top p{
  margin-bottom: 123px;
}

section.our-portfolio .our-portfolio-bottom span{
  margin-bottom: 25px;
}

section.our-portfolio .our-portfolio-bottom{
  display: flex;

}

section.our-portfolio .our-portfolio-bottom li a{
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: #60606e;
  margin-top: 25px;
  text-transform: uppercase;
}

section.our-portfolio .our-portfolio-bottom li a.active{
  padding: 0;
  display: inline-block;
  padding: 7px 20px;
  background-color: #7beec7;
}

section.our-portfolio .our-portfolio-bottom .our-portfolio-bottom-left{
  width: 16.6%;
}

section.our-portfolio .our-portfolio-bottom .our-portfolio-bottom-left ul{
  display: flex;
  flex-direction: column;
}

section.our-portfolio .our-portfolio-bottom .our-portfolio-bottom-right{
  width: 83.4%;
  margin-top: -15px;
}

section.our-portfolio .our-portfolio-bottom .our-portfolio-bottom-right .tab-pane .img-row{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  /* height: 970px; */
  align-content: flex-start;
}

/* разные высоты для разных пунктов */
section.our-portfolio .our-portfolio-bottom .our-portfolio-bottom-right #all.tab-pane .img-row{
  height: 970px;
}
section.our-portfolio .our-portfolio-bottom .our-portfolio-bottom-right #webdesign.tab-pane .img-row{
  height: 800px;
}

/* дописать */


section.our-portfolio .our-portfolio-bottom .our-portfolio-bottom-right .tab-pane .img-row img{
  width: 30%;
  margin: 15px;
}


/* section our portfolio end */

/* YOU THINK WE'RE COOL ? */

section.you-think-we-cool{
  padding: 50px 0;
  background-color: #7beec7;
}

section.you-think-we-cool .container{
  display: flex;
  flex-wrap: wrap;
}

section.you-think-we-cool .you-think-we-cool-left{
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: start;
}

section.you-think-we-cool .you-think-we-cool-left span{
  line-height: 48px;
  color: #ffffff;
}

section.you-think-we-cool .you-think-we-cool-left .you-think-we-cool-left-btn{
  margin-top: 15px;
}

section.you-think-we-cool .you-think-we-cool-right{
  width: 50%;
}
/* YOU THINK WE'RE COOL end */

/* main end */